<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.oolong.mapper.BoardMapper">
	<insert id="insert">
		
		<selectKey order="AFTER" keyProperty="boardId" resultType="long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		
		INSERT INTO tbl_board (title, content, writer)
		VALUES (#{title}, #{content}, #{writer})
	</insert>
	
	<resultMap type="BoardDTO" id="selectMap">
		<id property="boardId" column="board_id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="writer" column="writer"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
		
		<collection property="files" ofType="FileDTO">
			<id property="fileId" column="file_id"/>
			<result property="fileName" column="file_name"/>
			<result property="uuid" column="uuid"/>
			<result property="sortOrder" column="sort_order"/>
			<result property="image" column="image"/>
		</collection>
	</resultMap>
	
	<select id="selectById" resultMap="selectMap">
		SELECT b.board_id, title, content, writer, b.created_at, b.updated_at, file_id, file_name, uuid, sort_order, image
		FROM tbl_board b
		LEFT JOIN tbl_board_file f
		ON b.board_id = f.board_id
		WHERE b.board_id = #{boardId} AND b.deleted = FALSE
		ORDER BY sort_order
	</select>
	
	<update id="delete">
		UPDATE tbl_board
			SET deleted = TRUE, deleted_at = NOW()
		WHERE board_id = #{boardId} AND deleted = FALSE
	</update>
	
	<update id="update">
		UPDATE tbl_board
			SET title = #{title}, content = #{content}, updated_at = NOW()
		WHERE board_id = #{boardId} AND deleted = FALSE
	</update>
	
	<sql id="search">
		<if test="types != null and types != '' and keyword != null and keyword != ''">
			<foreach collection="types" item="type" open="AND (" close=")" separator=" OR ">
				<if test='type.equals("T")'>
					b.title LIKE CONCAT('%', #{keyword}, '%')
				</if>
				<if test='type.equals("C")'>
					b.content LIKE CONCAT('%', #{keyword), '%')
				</if>
				<if test='type.equals("W")'>
					b.writer LIKE CONCAT('%', #{keyword}, '%')
				</if>
			</foreach>
		</if>
	</sql>
	
	<select id="selectTotalCountSearch" resultType="int">
		SELECT COUNT(*) FROM tbl_board b
		
		WHERE deleted = FALSE
		
		<include refid="search"></include>
		
		
	</select>
	
	<select id="selectListSearch" resultType="BoardListDTO">
		SELECT b.board_id, title, b.writer, b.created_at, count(comment_id) AS commentCount, file_name, uuid
		FROM tbl_board b
		LEFT JOIN tbl_comment c ON b.board_id = c.board_id
		LEFT JOIN tbl_board_file f ON b.board_id = f.board_id and sort_order = 0
		WHERE b.deleted = FALSE
		
		<include refid="search"></include>
		
		GROUP BY b.board_id
		ORDER BY b.board_id DESC
		LIMIT #{limit} OFFSET #{offset}
		
	</select>
	
	<insert id="insertFiles">
		insert into tbl_board_file(board_id, file_name, uuid, sort_order, image)
		values
		
		<foreach collection="files" item="file" separator=",">
			(#{boardId}, #{file.fileName}, #{file.uuid}, #{file.sortOrder}, #{file.image})
		</foreach>
	</insert>
	
	<delete id="deleteFiles">
		DELETE FROM tbl_board_file WHERE board_id = #{boardId}
	</delete>
	

</mapper>